<div>
    <table class="table table-striped">
        <thead>
        <th width="200px" ng-repeat="column in columns">{{column.title}}</th>
        <th width="150px"></th>
        </thead>

        <tbody>
        <tr ng-repeat="data in dataSource">
            <td ng-repeat="column in columns">

                <span ng-show="!data.isEdit()">{{data[column.field]}}</span>

                <span ng-switch on="column.type">
                    <app-browser-field-editor ng-switch-when="label" type="label"></app-browser-field-editor>
                    <app-browser-field-editor ng-switch-when="checkbox" type="checkbox"></app-browser-field-editor>
                    <app-browser-field-editor ng-switch-when="text" type="text"></app-browser-field-editor>
                </span>

            </td>
            <td>

                <button ng-click="save(data)"
                        ng-disabled="!data.isValid()"
                        ng-show="data.isEdit()"
                        class="btn btn-default btn-sm">
                    {{ 'SAVE' | translate }}
                </button>

                <button ng-click="cancel(data)"
                        ng-show="data.isEdit()"
                        class="btn btn-default btn-sm">
                    {{ 'CANCEL' | translate }}
                </button>


                <button ng-click="edit(data)"
                        ng-show="!isEditMode() && !data.isEdit()"
                        class="btn btn-default btn-sm">
                    {{ 'EDIT' | translate }}
                </button>

                <button ng-click="delete(data)"
                        ng-show="!isEditMode() && !data.isEdit()"
                        class="btn btn-default btn-sm">
                    {{ 'DELETE' | translate }}
                </button>

            </td>
        </tr>
        </tbody>

    </table>

    <ul class="pager">
        <li ng-repeat="page in pages" ng-click="goToPage(page.index)" href=""
            ng-class="{active:page.isCurrent}">{{page.title}}
        </li>
    </ul>

    <div ng-transclude></div>

</div>
